[submodule "Game Development/pa1-it-s-not-a-bug-it-s-a-feature"]
	path = Game Development/pa1-it-s-not-a-bug-it-s-a-feature
	url = https://github.com/witcomp3800-gamedev/pa1-it-s-not-a-bug-it-s-a-feature
[submodule "Game Development/pa2-it-s-not-a-bug-it-s-a-feature"]
	path = Game Development/pa2-it-s-not-a-bug-it-s-a-feature
	url = https://github.com/witcomp3800-gamedev/pa2-it-s-not-a-bug-it-s-a-feature
[submodule "Game Development/You-Cant-Save-Them-All"]
	path = Game Development/You-Cant-Save-Them-All
	url = https://github.com/mrivnak/You-Cant-Save-Them-All
