[submodule "Software Engineering/Codecamp"]
	path = Software Engineering/Codecamp
	url = https://github.com/mrivnak/codecamp.git
[submodule "Senior Project/GameBoy"]
	path = Senior Project/GameBoy
	url = https://github.com/mrivnak/GameBoy
